<header class="header header--organic" data-sticky="true">
  <div class="header__top">
    <div class="container">
      <div class="header__left">
        <div class="menu--product-categories">
          <div class="menu__toggle"><i class="icon-menu"></i><span>Shop by Department</span></div>
          <div class="menu__content">
            <ul class="menu--dropdown">
              <li><a>Hot Promotions</a></li>
              <li><a>Home, Garden &amp; Kitchen</a></li>
              <li><a>Health &amp; Beauty</a></li>
            </ul>
          </div>
        </div><a class="ps-logo" href="index.html"><img src="assets/img/logo-organic.png" alt=""></a>
      </div>
      <div class="header__center">
        <form class="ps-form--quick-search" action="http://nouthemes.net/html/martfury/index.html" method="get">
          <div class="form-group--icon"><i class="icon-chevron-down"></i>
            <select class="form-control">
              <option value="1">All</option>
              <option value="1">Bags</option>
              <option value="1">Shoes</option>
              <option value="1">Men</option>
              <option value="1">Women</option>
              <option value="1">Sunglasses</option>
            </select>
          </div>
          <input class="form-control" type="text" placeholder="I'm shopping for...">
          <button>Search</button>
        </form>
      </div>
      <div class="header__right">
        <div class="header__actions">
<!--          <a class="header__extra" href="#"><i class="icon-chart-bars"></i><span><i>0</i></span></a><a class="header__extra" href="#"><i class="icon-heart"></i><span><i>0</i></span></a>-->
          <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>
            <app-cart-preview></app-cart-preview>
          </div>
          <div class="ps-block--user-header">
            <div class="ps-block__left"><i class="icon-user"></i></div>
            <div class="ps-block__right"><a href="my-account.html">Login</a><a href="my-account.html">Register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navigation">
    <div class="container">
      <div class="navigation__left">
        <div class="menu--product-categories">
          <div class="menu__toggle"><i class="icon-menu"></i><span>Shop by Department</span></div>
          <div class="menu__content">
            <ul class="menu--dropdown">
              <li><a>Hot Promotions</a></li>
              <li><a>Home, Garden &amp; Kitchen</a></li>
              <li><a>Health &amp; Beauty</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navigation__right">
        <ul class="menu menu--organic">
          <li class="menu-item-has-children has-mega-menu"><a href="shop-default-2.html">Shop</a><span class="sub-toggle"></span>
            <div class="mega-menu">
              <div class="mega-menu__column">
                <h4>Catalog Pages<span class="sub-toggle"></span></h4>
                <ul class="mega-menu__list">
                  <li><a href="shop-default.html">Kejetia</a></li>
                </ul>
              </div>
              <div class="mega-menu__column">
                <h4>Product Types<span class="sub-toggle"></span></h4>
                <ul class="mega-menu__list">
                  <li><a href="product-default.html">Simple</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <div class="ps-block--header-hotline inline">
          <p><i class="icon-telephone"></i>Hotline:<strong> 233</strong></p>
        </div>
      </div>
    </div>
  </nav>
</header>
