<div class="ps-cart__content">
  <div class="ps-cart__items">
    <div class="ps-product--cart-mobile">
      <div class="ps-product__thumbnail"><a href="#"><img src="assets/img/products/clothing/7.jpg" alt=""></a></div>
      <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
        <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
      </div>
    </div>
    <div class="ps-product--cart-mobile">
      <div class="ps-product__thumbnail"><a href="#"><img src="assets/img/products/clothing/5.jpg" alt=""></a></div>
      <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
        <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
      </div>
    </div>
  </div>
  <div class="ps-cart__footer">
    <h3>Sub Total:<strong>$59.99</strong></h3>
    <figure>
      <a class="ps-btn">View Cart</a>
      <a class="ps-btn">Checkout</a>
    </figure>
  </div>
</div>
