<footer class="ps-footer ps-footer--2 ps-footer--organic">
  <div class="container">
    <div class="ps-footer__content">
      <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer">
                <h4 class="widget-title">Quick links</h4>
                <ul class="ps-list--link">
                  <li><a>Policy</a></li>
                  <li><a>Term & Condition</a></li>
                  <li><a>Shipping</a></li>
                  <li><a>Return</a></li>
                  <li><a>FAQs</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer">
                <h4 class="widget-title">Company</h4>
                <ul class="ps-list--link">
                  <li><a>About Us</a></li>
<!--                  <li><a href="affilate.html">Affilate</a></li>-->
<!--                  <li><a href="shipping.html">Career</a></li>-->
                  <li><a>Contact</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 ">
              <aside class="widget widget_footer">
                <h4 class="widget-title">Bussiness</h4>
                <ul class="ps-list--link">
<!--                  <li><a href="our-press.html">Our Press</a></li>-->
                  <li><a>Checkout</a></li>
                  <li><a>My account</a></li>
                  <li><a>Shop</a></li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <aside class="widget widget_newletters">
            <h4 class="widget-title">Newsletter</h4>
            <form class="ps-form--newletter" action="#" method="get">
              <div class="form-group--nest">
                <input class="form-control" type="text" placeholder="Email Address" />
                <button class="ps-btn">Subscribe</button>
              </div>
              <ul class="ps-list--social">
                <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </form>
          </aside>
        </div>
      </div>
    </div>
<!--    <div class="ps-footer__copyright">-->
<!--      <p>&copy; 2021 Martfury. All Rights Reserved</p>-->
<!--      <p><span>We Using Safe Payment For:</span><a href="#"><img src="assets/img/payment-method/1.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/2.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/3.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/4.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/5.jpg" alt="" /></a></p>-->
<!--    </div>-->
  </div>
</footer>
